<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="scripts/style.css">
    <link rel="stylesheet" href="styles/title_style.css">
    <title>Salvo Game</title>

</head>

<body>

    <span id="sound">
        <!-- <iframe id ="iframe" src="/web/styles/assets/battle.mp3" allow="autoplay" style="display:none" id="iframeAudio">
        </iframe>  -->
        <audio id="audio" autoplay src="/web/styles/assets/battle.mp3" type="audio/mpeg">
        </audio>
    </span>
    <div id="app">
        <button class="btn btn-primary sticky-top" v-on:click="sound()">sound</button>

        <header>
            <p class="title">
                Battleship
            </p>
        </header>
        <div class="infoContainer">
            <div class="row flex">
                <div class="col-2">
                    <a href="games.html"><button class="btn btn-warning">Back</button></a>

                </div>
                <div class="col-4 flex">

                    <p>{{ownerGame}} (you) vs <span v-if="opponent">{{opponent}}</span> <span v-else>waiting for
                            opponent...</span></p>

                </div>

            </div>
        </div>


        <div class="maincontainer" id="maincontainer">



            <!-- <div class="owner" id="owner"> -->

            <table class="tbOwner" id="tbOwner">
                <caption>
                    <h3>Your Ships...</h3>
                </caption>
                <tr v-for="(data1, index) in numbers">

                    <td v-for="(data2, index2) in letters" v-bind:id="data2+data1" v-on:click="placeAShip(data2, data1)"
                        @mouseover="mouseOver(data2, data1)" @mouseleave="mouseOut(data2, data1)">
                        <span v-if="index==0 || index2==0">{{data1 + data2}}</span>
                    </td>

                </tr>


            </table>
            <div v-show="shipsDone == false">
                <button class="btn btn-success" v-on:click="rotateShip()" id="rotateShip">Rotate Ship</button>
                <div id="ships" class="ships">
                    <p class="btn btn-primary" v-on:click="placeShips('carrier')" id="carrier">Carrier</p>
                    <p class="btn btn-primary" v-on:click="placeShips('battleShip')" id="battleShip">Battleship</p>
                    <p class="btn btn-primary" v-on:click="placeShips('submarine')" id="submarine">Submarine</p>
                    <p class="btn btn-primary" v-on:click="placeShips('destructor')" id="destructor">Destructor</p>
                    <p class="btn btn-primary" v-on:click="placeShips('patrol')" id="patrol">Patrol Boat</p>
                    <p class="btn btn-danger" v-on:click="getShips()"  v-show="!Object.values(shipButtons).includes(0)">Done!</p>
                </div>
            </div>
            
            <div v-show="firesReady == true" class="fireDiv">
                    <p class="fireState">Place shots</p>
                <p class ="shotsLeft">{{firesLeft}} Shots left</p>
                <button class="btn btn-danger" v-on:click="getSalvoData()" v-show="firesLeft==0" >FIRE!</button>


            </div>

            <table class="tbOwner enemyTb" id="tbOwner" v-show="shipsDone">
                <caption>
                    <h3>Opponent...</h3>
                </caption>
                <tr v-for="(data1,index) in numbers">

                    <td v-for="(data2, index2) in letters" v-bind:id="data2+data1+'E'" v-on:click="placeFires(data2, data1)"  @mouseover="fireOver(data2, data1)" @mouseleave="fireOut(data2, data1)">
                        <span v-if="index==0 || index2==0">{{data1 + data2}}</span>
                    </td>

                </tr>


            </table>







        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="scripts/game.js"></script>
</body>

</html>