.containerScores{
    display: flex;
    justify-content: center;
    background-color: hsla(192, 15%, 80%, 0.644);
    padding-bottom: 10px;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
}

td{
    height: 50px;
    width: 50px;
    
}



caption{
    font-size: 34px;
}