  body {
    background-image: url(/web/styles/assets/battleshipWP.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  header {
    display: flex;
    justify-content: center;
  }

  td {
    width: 35px;
    height: 35px;
    border: 2px solid black;
    margin: 0px;
    box-shadow: 1px 1px 0px black;
    text-align: center;
    background-color: hsla(197, 66%, 51%, 0.432);

  }

  tr:nth-child(-n+1)>td {
    border: none;
    background: hsla(177, 85%, 57%, 0.473);
  }

  td:first-child {
    border: none;
    background: hsla(177, 85%, 57%, 0.438);

  }


  table {
    border-collapse: collapse;

  }

  .tbOwner{
    transform: perspective(700px) rotateX(40deg);
  }


.flex{
  display: flex;
  justify-content: center;
  width: 2000px;
}


.ships{
  width: 200px;
  background-color: hsla(192, 15%, 80%, 0.644); 
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 10px;
  border: 2px solid grey;
}

  .infoContainer {

    font-size: 30px;
    color: #228DFF;
    text-shadow: 2px 2px 2px white;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    background-color: hsla(192, 15%, 80%, 0.644);
   display: flex;
   justify-content: center;
  }

  .maincontainer {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }

  caption {
    text-align: top;
    background-color: hsla(189, 90%, 61%, 0.171);
    color: black;
  }

  .submarine{
    background-color: red;
  }
  .carrier{
    background-color: yellow;
  }
  .patrol{
    background-color: green;
  }
  .destructor{
    background-color: purple;
  }
  .battleShip{
    background-color: blue;
  }
 .fireGif{
   height: 25px;
 }

 .waterSplash{
  height: 20px;
 }

 .formLogIn{
   margin-bottom: 30px;
   padding-bottom: 10px;
   background-color: rgba(127, 205, 211, 0.637);
   border: 2px solid grey;
    text-align: center;
   
 }

