  body {
    background-image: url(/web/styles/assets/battleshipWP.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  header {
    display: flex;
    justify-content: center;
  }

  td {
    width: 35px;
    height: 35px;
    border: 2px solid black;
    margin: 0px;
    box-shadow: 1px 1px 0px black;
    text-align: center;
    background-color: hsla(197, 66%, 51%, 0.432);

  }

  tr:nth-child(-n+1)>td {
    border: none;
    background: hsla(177, 85%, 57%, 0.473);
  }

  td:first-child {
    border: none;
    background: hsla(177, 85%, 57%, 0.438);

  }
.shotsLeft{
  /* background-color: rgba(140, 176, 206, 0.479); */
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 10px;
  height: 20px;
}
.flex-horizontal{
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
}

  table {
    border-collapse: collapse;

  }
  .fireOver{
    background-color: hsla(209, 73%, 38%, 0.801);
  }
  .enemyTb{
    cursor: crosshair;
  }

  .tbOwner{
    transform: perspective(700px) rotateX(40deg);
  }

  .fireState{
    background-color: rgba(110, 219, 59, 0.582);
    padding: 10px;
    border-radius: 5px;
  }
  .fireDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 150px;
    background-color: rgba(188, 216, 66, 0.575);
    border: 2px rgba(114, 20, 20, 0.548) solid;
    margin-top: 10px;
  }

.flex{
  display: flex;
  justify-content: center;
  width: 2000px;
}


.ships{
  width: 200px;
  background-color: hsla(192, 15%, 80%, 0.644); 
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 10px;
  border: 2px solid grey;
}

  .infoContainer {
    font-size: 30px;
    color: #228DFF;
    text-shadow: 2px 2px 2px white;
    
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    background-color: hsla(192, 15%, 80%, 0.644);
   display: flex;
   justify-content: center;
  }
  .winner{
    font-size: 30px;
    color: #228DFF;
    text-shadow: 2px 2px 2px white;

  }

  .maincontainer {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }

  caption {
    text-align: top;
    background-color: hsla(189, 90%, 61%, 0.171);
    color: black;
  }

  .submarine{
    background-color: red;
  }
  .carrier{
    background-color: yellow;
  }
  .patrol{
    background-color: green;
  }
  .destructor{
    background-color: purple;
  }
  .battleShip{
    background-color: blue;
  }
 .fireGif{
   height: 25px;
 }

 .waterSplash{
  height: 20px;
 }

 .formLogIn{
   margin-bottom: 30px;
   padding-bottom: 10px;
   background-color: rgba(127, 205, 211, 0.637);
   border: 2px solid grey;
    text-align: center;
   
 }

 .containerCenter{
   display: flex;
   flex-direction: column;

 }

td:nth-child(.middleinfo){
width: 30px;
 }

